.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7f27ff;
  // margin-top: 50px;
  padding: 12px 0;
  z-index: 100;

  p {
    margin: 0;
    color: white;
    font-size: 16px;
  }
}
.footer-logo {
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
}
